/*Style de la page des KPI*/

.analyse_container{
    position: relative;
}
.analyse_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyse_header--date span {
    font-size: 1.2rem;
    text-decoration: it;
    font-weight: 600;
    color: var(--blue);
}

.filters_container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
}

.analysis_content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.analysis_content--kpis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.analysis_content--kpis .kpi_card {
    width: 100%;
}

.analysis_content--diagrams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.analysis_content--diagrams .diagram_card {
    width: 100%;
}

.analyse_header--date .date {
    color: black;
    font-weight: 400;
    font-style: italic;
}