/*Style de la page des KPI*/


/* ANALYSE HEADER */
.analyse_container{
    position: relative;
}
.analyse_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analyse_header--welcome h1{
    margin-bottom: 0.7rem;
    font-size: 1.8rem;
}
.analyse_header--welcome p {
    font-size: 1rem;
}

.analyse_header--date--responsive {
    display: none;
}

.analyse_header--date span {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}


@media screen and (max-width: 992px) {
    .analyse_header--welcome h1{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
    .analyse_header--date--responsive {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .analyse_header--date--responsive span {
        font-size: 1rem;
    }
    .analyse_header--date--desktop {
        display: none;
    }
    .analyse_header--welcome p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .analyse_header--welcome h1{
        margin-bottom: 0.5rem;
        font-size: 1.4rem;
    }

}

/* ANALYSE FILTERS */

.filters_container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
}

.analysis_content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.analysis_content--kpis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.analysis_content--kpis .kpi_card {
    width: 100%;
}

.analysis_content--diagrams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.analysis_content--diagrams .diagram_card {
    width: 100%;
}
